@tailwind base;
@tailwind components;
@tailwind utilities;

/* css for body */
.bg-main{
    background-color: rgb(240, 242, 245);  
}

/* css for sidebar */
.bg-sidebar{
    background-color: #eef0f36a;
    backdrop-filter: blur(1px);
}
.sidebarr{
  background-color: #eef0f36a;
}
.sidebarmenu{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.87));
}
.sidebarline{
  flex-shrink: 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  height: 0.0625rem;
  margin: 1rem 0;
  border-bottom: none;
  opacity: 0.25;
  background-color: transparent;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #ffffff, rgba(255, 255, 255, 0)) !important;
}
hr{
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  unicode-bidi: isolate;
  overflow: hidden;
}
.logoutbtn{
  font-family:  "Roboto", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.02857em;
  font-size: 0.8rem;
  font-weight: 700;
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
  box-shadow: 0rem 0.1875rem 0.1875rem 0rem rgba(26, 115, 232, 0.15), 0rem 0.1875rem 0.0625rem -0.125rem rgba(26, 115, 232, 0.2), 0rem 0.0625rem 0.3125rem 0rem rgba(26, 115, 232, 0.15);
  color: white;
}
.logoutbtn:hover{
  box-shadow: 0.1rem 0.3rem 1rem #1A73E8;

}
.menuitem{
  font-weight: 300;
  font-size: 1.15rem;
}
.menuitem:hover:not(.selectedbtn) {
  background: rgba(255, 255, 255, 0.2);
}

.selectedbtn {
  background: linear-gradient(195deg, #49a3f1, #1A73E8);
  letter-spacing: 0.02857em;
  font-size: 1.1rem;
  font-weight: 350;
}

/* css for displaynode */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
  .typeheading{
    font-size: 1.5rem;
    grid-column: span 3 / span 3;
    margin-top: 0.25rem;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: rgb(52, 71, 103);
    }
/* css for nodecard */
.card {
    /* padding: 1rem; */
    padding-bottom: 1rem;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    height: 100%;
    width: 95%;
  }
  /* .inactivecard{
    background-image: linear-gradient(to left, rgba(214, 72, 72, 0.424)  0%, rgba(234, 19, 19, 0.667) 100%) !important;
  }
  .activecard{
    background-image: linear-gradient(to left, rgba(72, 214, 169, 0.424) 0%, rgba(2, 150, 103, 0.667) 100%) !important;
  } */
.inactivecard .itemheading{
  background: linear-gradient(195deg, rgb(236, 64, 84), #d81b3a);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.activecard .itemheading{
  background:linear-gradient(195deg, rgb(102, 187, 106), #43a047);
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.itemname{
  text-wrap: pretty;
  /* overflow: scroll; */
  /* text-overflow: clip;
  white-space: nowrap;
  -ms-overflow-style: none; 
  scrollbar-width: none;
  color: white;  */
}
/* .itemname::-webkit-scrollbar {
    display: none;
  
} */
.lastupdate{
  font-size: 0.92rem;
}
  /* css for nodedetails */
.detailed-node-container {
    border: 1px solid #ccc;
    padding-top: 1rem;
    height: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    color: #000;
    position: relative;
  }
  
  .detailed-node-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .item-name {
    font-size: 1.5rem;
    margin: 0 auto;
  }
  
  .close-button {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .detailed-node-info {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
  }
  
  .node-type, .node-id {
    flex: 1;
    text-align: center;
  }
  
  .detailed-node-attributes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.7rem 2rem;
  }
  
  .attribute {
    border:#000 solid 1.6px;
    padding: 1rem;
    border-radius: 13px;
    grid: 0 0 48%;
    margin-bottom: 0.5rem;
    justify-self: center;
  }
  
  .attribute-key {
    font-weight: bold;
  }
  
  .toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
  }
  
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0a779f;
    transition: 0.4s;
    border-radius: 34px;
    color: #344767;

  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(28px);
  }
  
  .toggle-labels {
    display: flex;
    justify-content: space-between;
    width: 100px;
    margin-left: 1rem;
  }
  
  .performance-container {
    text-align: center;
    /* margin: 1rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .performance-container img {
    max-width: 100%;
  }
  
  .last-updated {
    text-align: end;
    margin-top: 1rem;
    margin-right: 2rem;
    font-size: 0.9rem;
  }
  .nodes::-webkit-scrollbar {
    display: none;
  }
  .nodes {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  /* css for navbar */
  .navbar{
    box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset, rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
    backdrop-filter: saturate(200%) blur(1.875rem);
    background-color: rgba(255, 255, 255, 0.8);
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    border-radius: 0.75rem;
  }
 
  /* css for stat box */
  /* .statcont
{
  box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    margin-top: -24px;
    width: calc(100% + 24px);
    margin-left: -24px;
}  .statbox{
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem; */
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    /* border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
    border-radius: 0.75rem;
    overflow: visible;
  }
  .statbox1{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
  }
  .statbox2{
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    border-left: 0px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0)) !important;
  }
  .statbox3{
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
  }
  .box1image{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-top: -24px;
    opacity: 1;
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  }
  .box1text{

  } */

  .statbox{
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 0rem 0.25rem 0.375rem -0.0625rem, rgba(0, 0, 0, 0.06) 0rem 0.125rem 0.25rem -0.0625rem;
    /* transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1); */
    border-width: 0px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
    border-radius: 0.75rem;
    overflow: visible;
  }
  .statbox1{
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
  }
  .statbox2{
    flex-shrink: 0;
    border-top: 0px solid rgba(0, 0, 0, 0.12);
    border-right: 0px solid rgba(0, 0, 0, 0.12);
    border-left: 0px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    height: 0.0625rem;
    margin: 1rem 0px;
    border-bottom: none;
    opacity: 0.25;
    background-image: linear-gradient(to right, rgba(52, 71, 103, 0), rgba(52, 71, 103, 0.4), rgba(52, 71, 103, 0)) !important;
  }
  .statbox3{
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    opacity: 1;
    background: transparent;
    color: rgb(52, 71, 103);
    box-shadow: none;
  }
  .box3image{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-top: -24px;
    opacity: 1;
    /* background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)); */
    /* background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)); */
    background: linear-gradient(195deg, #49a3f1, #1A73E8);;
    color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  }
  .box1image{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-top: -24px;
    opacity: 1;
    background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
    color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  }
  .box2image{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-top: -24px;
    opacity: 1;
    background: linear-gradient(195deg, rgb(236, 64, 84), #d81b3a);
    color: rgb(255, 255, 255);
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem, rgba(64, 64, 64, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
  }
  .box2imageicon{
    width: 1em;
    height: 1em;
    overflow: hidden;
    display: inline-block;
  }
  .box1text1{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    color: rgb(123, 128, 154);
    font-weight: 300;
  }
  .box1text2{
    font-size: 1.5rem;
    line-height: 1.375;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 0.00735em;
    color: rgb(52, 71, 103);
  }
  .box3text1{
    margin: 0px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    display: flex;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(123, 128, 154);
  }
  .box3text2{
    margin-right: 3px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
    letter-spacing: 0.02857em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: rgb(76, 175, 80);
    font-weight: 700;
  }